.inputNewTask{
  width: 39.875rem;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
}

.inputNewTask:focus-visible{
  border: 0;
}

.buttonCreate{
  background: var(--blue-dark);
  border: 0;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.buttonCreate > svg {
  margin-left: 0.5rem;
}