.container{
  max-width: 46rem;
  margin: auto;

  padding: 0 1rem;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1.5rem;
  gap: 0.5rem;
}


/* -- Section -- */

.taskInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 4rem;
}

.createdTasks,
.completedTasks{
  display: flex;
  align-items: center;
  justify-content: center;
}

.createdTasks strong{
  color: var(--blue);
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.completedTasks strong{
  color: var(--purple);
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.createdTasks span,
.completedTasks span{
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  color: var(--gray-200);
  font-weight: bold;
  font-size: 0.75rem;
}

/* -- TASKS -- */
.tasksEmpty{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid #333333;
  margin-top: 1.5rem;
  padding:4rem 0;
  border-radius: 8px;
}

.tasksEmpty svg{
  color: var(--gray-300);
}

.tasksEmpty strong{
  color: var(--gray-300);
  margin-top: 1rem;
}

.tasksEmpty p{
  color: var(--gray-300);
}

/* -- Unique Task -- */
